{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "app": "./src",
          "components": "./src/components",
          "screens": "./src/screens",
          "stores": "./src/stores",
          "utils": "./src/utils",
          "assets": "./src/assets",
          "languages": "./src/languages"
        },
        "extensions": [".js"]
      }
    ]
  ]
}